<div class="container">
  <div class="row mt-2">
    <div class="col-4 divChart1">
      <h4>Bar chart</h4>
      <canvas id="barChart" class="bar"></canvas>
    </div>
    <div class="col-4 divChart1">
      <h4>Line chart</h4>
      <canvas id="lineChart" class="line"></canvas>
    </div>
    <div class="col-4 divChart1">
      <h4>Pie chart</h4>
      <canvas id="pieChart" class="pie"></canvas>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-6 divChart1 mr-2">
      <h4>Doughnut chart</h4>
      <canvas id="doughnutChart" class="doughnut"></canvas>
    </div>
    <div class="col-6 divChart1 mr-5">
      <h4>Bubble chart</h4>
      <canvas id="bubbleChart" class="bubble"></canvas>
    </div>
  </div>
</div>
