div {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTYJkKHZ6r4Kv5q7Ipf9jZja7Aaf1kd_Aerjg&usqp=CAU");
  height: 200px;
  text-align: center;
  background-size: cover;
  margin-top: 10px;
}
