<div class="container">
  <h2>Testimonials</h2>
  <div class="mt-2 row">
    <div class="cls1 col-3">
      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQKvS4Z3oRCkqh5KgquhTEP7OQtjk_KbVX-FQ&usqp=CAU"
      />
    </div>
    <div class="cls1 col-9">
      <p>
        Contrary to popular belief, Lorem Ipsum is not simply random text. It
        has roots in a piece of classical Latin literature from 45 BC, making it
        over 2000 years old.
      </p>
      <small>Richard McClintock</small>
    </div>
  </div>
  <div class="mt-2 row">
    <div class="cls1 col-3">
      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQyyiInr-pjmuHVrdvLcjlDXyTDzO6BNfYIwg&usqp=CAU"
      />
    </div>
    <div class="cls1 col-9">
      <p>
        Contrary to popular belief, Lorem Ipsum is not simply random text. It
        has roots in a piece of classical Latin literature from 45 BC, making it
        over 2000 years old.
      </p>
      <small>Richard McClintock</small>
    </div>
  </div>
  <div class="mt-2 row">
    <div class="cls1 col-3">
      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQVIog2RhUsv73J8v0FdKKmx3CnuQNp_npONDO8oUKp-jfq9icTplEIwtwmxegnuVZe9Jc&usqp=CAU"
      />
    </div>
    <div class="cls1 col-9">
      <p>
        Contrary to popular belief, Lorem Ipsum is not simply random text. It
        has roots in a piece of classical Latin literature from 45 BC, making it
        over 2000 years old.
      </p>
      <small>Richard McClintock</small>
    </div>
  </div>
</div>
