<div class="login-form">
    <form [formGroup]="form">
      <h4>Login to Your Account</h4>
      <div class="form-group">
        <input
          type="email"
          class="form-control"
          formControlName="email"
          placeholder="Email"
          required="required"
        />
      </div>
      <div class="form-group">
        <input
          type="password"
          class="form-control"
          formControlName="password"
          placeholder="Password"
          required="required"
        />
      </div>
      <div class="text-center">
        <input
          type="submit"
          class="btn btn-primary btn-md"
          [disabled]="form.invalid"
          (click)="login()"
        />
      </div>
    </form>
  </div>
  